<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trả lời</title>
</head>
<body>
<h2>Trả lời câu hỏi</h2>
    <form method="POST" action="/result">
        {% for q in questions %}
            {% set i = loop.index0 %}
        <div class="question-box">
            <h3>{{ q.questions }}</h3>
            <div class="answers">
                {% for ans in q.answers %}
                    {% set label = ['A','B','C','D'][loop.index0] %}
                    <label>
                        <input type="radio" name="q{{ i }}" value="{{ label }}" required>
                        {{ label }}. {{ ans }}
                    </label><br>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <br>
        <button type="submit">Nộp bài</button>
    </form>

    <a href="/">⬅ Quay lại trang chủ</a>
</body>
</html>